*{
  font-family:$font-a;
  color:$color-black-item-title;
}
html{
  font-size:16px;
  font-family: $font-a;
}

a{
  &:focus,&:active,&:hover{
    text-decoration: none;
    color:$color-black-page-title;
  }
}
body{
  background:#efe9dd;
  overflow-x:hidden; 
}
body,html,#app,main,section{
  width: 100%;
  // min-height: 100%;
  // height: 100%;
}
.row{
  &:before,&:after{
    display: none;
  }
}

 
 .page-title{
   font-size: 2rem;
   text-transform: uppercase;
   color:$color-black-page-title;
   text-align: center;
 }
 
 .price{
   color:$color-price;
 }
 
 .description{
   color:$color-black-item-title;
   font-size: 1rem;
 }
 
 .size{
   font-size: .875rem;
   color:$color-black-item-title;
 }
 
 .filter-text{
   font-size: 1.125rem;
   color:$color-black-item-title;
 }
 
 .header-link{
   font-size: 1rem;
   color:$color-black-page-title;
 }

.v-select{
  width: 100%;
  max-width: 300px;
  .dropdown-menu{
    border: 1px solid rgba(60,60,60,.26) !important;
    background: #efe9dd  !important;
    border-top:none !important;
    box-shadow: none !important;
    overflow-y: auto !important;
    li{
      background:transparent !important;
      &.highlight{
        background: black !important;
        color: #fff; 
      }
      a{
        font-size: 16px ;
        @media screen and (max-width: 500px){
          font-size: 14px ;
        }
      }
    }
    & > .highlight{
      &:hover,&:focus,&.active{
        a{
          background: black !important;
          color: #fff;
        }
      }

    }
    & > .active{
      a{
        background: black;
        color: #fff;
      }
    }
  }
  &.open{
    border-bottom:none !important;
  }
  .selected-tag{
    position: absolute;
    display: block;
    width: 80%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    word-wrap: none;
    word-break: normal;
  }
  .dropdown-toggle{
    .clear{
      bottom:7px;
      right:25px;
      
      span{
        color:rgba(60,60,60,.5);
      }
    }
  } 
  
}
.v-select .dropdown-menu > .highlight > a {
  /*
   * required to override bootstrap 3's
   * .dropdown-menu > li > a:hover {} styles
   */
  background: #5897fb;
  color: #fff;
}


.pagination{
  display: flex;
  list-style: none;
  justify-content: center;
  li{
    display: block;
    width: 35px;
    height: 35px;
    border:2px solid rgba(60,60,60,.5);
    border-radius: 4px;
    margin-right: 5px;
    a{
      width:100%;
      height: 100%;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      color:rgba(60,60,60,.5) !important;
      border:none;
      float: none;
      margin-left: 0;
      outline: none !important;
      background: transparent;
      border-radius: 0 !important;
    }
    .break,.break-view-link-class{
      color: rgba(60,60,60,.5);
      background: transparent;
      outline: none;
    }
    &:first-child,&:last-child{
      width: 50px;
    }
    &.active,&:hover,&:focus,&:active{
      background: rgba(60,60,60,.5);
      color:white;
      outline: none !important;
      a{
        font-size: 20px;
        z-index: 3;
        color: rgb(255, 255, 255) !important;
        cursor: pointer;
        background-color: rgba(60,60,60,.5) !important;
        border:none !important;
        outline: none !important;
      }
    }
    &.disabled{
      visibility: hidden;
    }
  }
}
