$font-a: 'AkzidenzGroteskPro-LightEx', sans-serif;

$color-black-page-title: rgba(29, 29, 29, 255);
$color-black-item-title: rgba(0, 0, 0, 255);
$color-white: rgba(255, 255, 255, 255);
$color-price: rgba(120, 0, 0, 255);;
